<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @image.time %>
</p>

<p>
  <strong>Position:</strong>
  <%= @image.position %>
</p>

<p>
  <strong>Url:</strong>
  <%= @image.url %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
